.card{
    width: 90%;
    height: 150px;
    max-width: 300px;
    background-color: rgb(20, 26, 31);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 10px black,2px 2px 20px black;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px;
    transition: all .5s;
   }
   .card:hover{
    box-shadow: 2px 2px 10px rgb(87, 195, 219),2px 2px 20px rgb(82, 205, 207);
    transform: translateY(-2rem);
   }
   .card h2{
    background: linear-gradient(to right, aqua, white);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
   }
.hoverCard{
    height: 100%;
    width: 100%;
    background:linear-gradient(to top, rgba(121, 205, 220, 0.486),rgba(12, 17, 20, 0.495));
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
}
.hoverCard img{
    height: 80%;
    filter: drop-shadow(2px 2px 10px black);
}
.card:hover .hoverCard{
    transform: translateY(0);
}













