#contact{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.left-contact{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-contact img{
    width: 50%;
    filter: drop-shadow(1.5px 1.5px 20px rgb(91, 91, 91));
}
.right-contact{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 80%;
    height: 70%;
    background-color: rgb(20, 26, 31);
    box-shadow: 2px 2px 10px black,2px 2px 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px ;
    flex-direction: column;
    transition: all .5s;
    border-radius: 10px;
}
form:hover{
    box-shadow: 1.5px 1.5px 20px rgb(91, 91, 91);
}
form input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid aqua;
    outline: none;
    padding: 10px;
}
form textarea{
    width: 80%;
    height: 150px;
    border-radius: 10px;
    border: 2px solid aqua;
    outline: none;
    padding: 10px;
}
form #btn{
    width: 80%;
    height: 40px;
    font-size: .87rem;
    border-radius: 10px;
    color:rgb(91, 91, 91);
    background-color:aqua; ;
    font-weight: bold;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
    
}
form #btn:hover{
    background-color: transparent;
    border-color:aqua;
    color:aqua;    
}



@media (max-width:750px) {
    #contact{
        flex-direction: column;
    }
    .left-contact{
        width: 100%;
        height: 50vh;
    }
    .left-contact img{
        width: 70%;
    }
    .right-contact{
        width: 100%;
        
    }
    
}
@media (width:1024px) {
    .right-contact{
        margin-right: 40px;
    }
    .left-contact img{
        width: 65%;
    }
    
}

@media (width:912px) {
    .left-contact img{
        width: 70%;
    }
    form{
        height: 35%;
    }
   
}
@media (width:820px) {
    .left-contact img{
        width: 70%;
    }
    form{
        height: 40%;
    }
   
}
@media (width:768px) {
    .left-contact img{
        width: 70%;
    }
    form{
        height: 42%;
    }
   
}
@media (width:540px) {
    .left-contact img{
        width: 50%;
    }
       
}

@media (width:412px) {
    form{
        height: 50%;
    }
}

@media (width:360px) {
    form{
        height: 60%;
    }
}
@media (width:344px) {
    form{
        height: 55%;
    }
}



